.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  border: 1.5px solid #3f4348;
  border-radius: 10px;
  padding: 20px;
  box-shadow: #3f4348 0px 5px 15px;
  color: #3f4348;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.form p {
  margin: 0;
  margin-bottom: 7px;
}

.input-form {
  height: 20px;
  border: none;
  border-color: none;
  border-bottom: 2px solid #3f4348;
  background-color: #e9e9e9;
  outline: none;
  font-size: 1rem;
}

.input-form-error {
  border: none;
  background-color: #e9e9e9;
  border-color: none;
  border-bottom: 2px solid red;
}

.notVisible-error {
  opacity: 0;
  visibility: hidden;
  color: red;
  font-size: 0.8rem;
  height: 19px;
}

.visible-error {
  opacity: 1;
  visibility: visible;
  color: red;
  font-size: 0.8rem;
  height: 19px;
}

input[type="radio"]:checked, 
input[type="radio"]:not(:checked) 
{
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label, 
input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:checked + label:after, 
input[type="radio"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(202, 75, 157);
}

input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="radio"]:checked + label:after {
  opacity: 1;
}

.label-female {
  margin-left: 5px;
}

.textarea,
select,
.date {
outline: none;
border: 1.5px solid #3f4348;
border-radius: 8px;
font-size: 1.1rem;
color: #3f4348;
}

.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
  transition: .2s;
}

.checkbox__text:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 2px 5px rgba(0,0,0,.3);
  transition: .2s;
}

.checkbox input:checked + .checkbox__text:before {
  background: rgb(202, 75, 157);
}

.checkbox input:checked + .checkbox__text:after {
  left: 26px;
}

.submit {
  margin: 0 auto;
  justify-self: center;
  width: 150px;
  height: 50px;
  border-radius: 8px;
  color: #3f4348;
  font-size: 1.3rem;
  background-color: rgb(202, 75, 157);
  cursor: pointer;
}

.submit:active {
  transform: scale(0.9);
  transition: 0.3s;
  background-color: #e9e9e9;
}

.submit:disabled {
  cursor: default;
  background-color: rgb(210, 204, 208);
  transition: none;
  transform: none;
}