@import './component/Header/Header.css';
@import './component/Search/Search.css';
@import './pages/MainPage/MainPage.css';
@import './component/Card/Card.css';
@import './component/CardList/CardList.css';
@import './component/Message/Message.css';
@import './pages/AboutPage/About.css';
@import './pages/ErrorPage/Error.css';
@import './pages/FormPage/FormPage.css';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.App {
  text-align: center;
}

body {
  background-color: #e9e9e9;
}
