@import './component/Header/Header.css';
@import './component/Search/Search.css';
@import './pages/MainPage.css';
@import './component/Card/Card.css';
@import './component/CardList/CardList.css';

.App {
  text-align: center;
}

body {
  background-color: #e9e9e9;
}

.about-page,
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 3rem;
  text-align: center;
  color: #3f4348;
}

.about-page p {
  margin: 0;
  margin-bottom: 20px;
}

.error-page a {
  color: #3f4348;
  font-size: 4rem;
  font-style: bold;
}

.error-page a:hover{
  text-decoration: underline;
}

.error-number {
  font-size: 15rem;
}