.search {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  background-image: url('../../assets/Image/search.svg');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 25px;
  color:  #3f4348;
  font-size: 24px;
}